<% layout('layout/boiler') %>

<div class="card mx-auto" style="width: 18rem;">
    <img class="card-img-top" src=<%= curUser.profile.url?curUser.profile.url:"https://www.clipartkey.com/mpngs/m/152-1520367_user-profile-default-image-png-clipart-png-download.png"%> alt="failed to load">
    <div class="mx-auto my-2">
      <form action="/del/<%=curUser._id%>?_method=put" method="POST">
        <button class="btn btn-danger">Delete profile pic</button>
      </form>
    </div>
    <div class="card-body">
      <p class="card-text">Name: <%= curUser.oname %> </p>
      <p class="card-text">Contact number: <%= curUser.oNo %> </p>
      <p class="card-text">Email id: <%= curUser.username %> </p>
      <p class="card-text">Address: <%= curUser.oAddress %> </p>
      <!-- <a class="btn btn-success" href="/addHouse" role="button">Add House</a>
      <a class="btn btn-success" href="/addHouse" role="button">View All Houses</a> -->
      <div class="row">
        <div class="col-md-6">
        <a class="btn btn-warning" href="/user/<%=curUser._id%>/edit" role="button">Edit user details</a>
        </div>
        <div class="col-md-6">
          <form action="/user/<%=loginUser._id%>?_method=delete" method="POST">
            <button class="btn btn-danger">Delete User</button>
          </form>
        </div>
        <div class="col-md-6">
          <form action="/user/<%=loginUser._id%>/add">
            <button class="btn btn-success">Add home</button>
          </form>
        </div>
        <div class="col-md-6">
          <form action="/user/<%=loginUser._id%>/houses">
            <button class="btn btn-primary">See houses</button>
          </form>
        </div>
      </div>
    </div>
</div>